
#root {
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:  center;
  gap: 32px;
  padding: 16px;



}

.card {
  border: 1px solid grey;
  box-shadow: 4px 4px black;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
}


.card > img {
  border-radius: 10px;
  box-shadow: 4px 4px grey;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  max-width: 300px;
  justify-content: center;
}

.tag{
  background-color: aqua;
  color: black;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
  padding: 4px;
  box-shadow: 4px 4px grey;
  
}
