.card {
  border: 1px solid rgb(20, 20, 20);
  border-radius: 10px;
  padding: 16px;
  box-shadow: 4px 4px black;
  text-align: center;
}


.card > h2 {
  font-size: 32px;
  border-left: 15px solid rgb(3, 3, 3);
  border-radius:  10px;
  padding-left: 10px;
}

.card > img {
  border-radius: 10px;
}

.card > h3 {
  color: aliceblue;
  font-size: 16px;
  border: 1px solid;
  background-color: black;
  border-radius:  20px;
  
}

.card > img {
  border-radius: 10px;
}

