
.card {
  box-shadow: 4px 4px black;
  border-radius: 20px;
}


.card > img {
  border-radius: 10px;
  box-shadow: 4px 4px grey;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  max-width: 300px;
  justify-content: center;
}

.tag{
  background-color: aqua;
  color: black;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  padding: 4px;
  box-shadow: 4px 4px grey;
  
}
